<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesound">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thesound">
        <activity
            android:name=".main3" />
        <activity
            android:name="answerpage" />

        <activity
            android:name=".signup2" />
        <activity
            android:name=".seeanswer" />
        <activity
            android:name=".textline" />
        <activity
            android:name=".petiton" />
        <activity
            android:name=".asksee" />
        <activity
            android:name=".askX" />

        <activity
            android:name=".ask1" >


        </activity>
        <activity
            android:name=".askO" />
        <activity
            android:name=".ask2" />
        <activity
            android:name=".surch"/>
        <activity
            android:name=".surch3" />
        <activity
            android:name=".signup1" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

            <!--메인페이지 시작-->
        <activity
            android:name=".storagebox"/>

        <activity
            android:name=".Main">

        </activity>
        <activity
            android:name=".petitionboard">

        </activity>
        <activity
            android:name=".petitionboard3">

        </activity>
        <activity
        android:name=".seeanswer3">

        </activity>

        <activity android:name=".our_school_bullentin_board"/>
        <activity android:name=".our_school_bullentin_board3"/>
        <activity
            android:name=".MainActivity" />
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~3347511713"/>

</application>

    </manifest>