<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesound">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thesound">
        <activity
            android:name=".main3"
            android:exported="false" />
        <activity
            android:name=".signup2"
            android:exported="false" />
        <activity
            android:name=".seeanswer"
            android:exported="false" />
        <activity
            android:name=".textline"
            android:exported="false" />
        <activity
            android:name=".petiton"
            android:exported="false" />
        <activity
            android:name=".asksee"
            android:exported="false" />
        <activity
            android:name=".askX"
            android:exported="false" />
        <activity
            android:name=".askO"
            android:exported="false" />
        <activity
            android:name=".ask2"
            android:exported="false" />
        <activity
            android:name=".surch"
            android:exported="false" />
        <activity
            android:name=".surch3"
            android:exported="false" />
        <activity
            android:name=".signup1"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

            <!--메인페이지 시작-->
        <activity
            android:name=".storagebox"
            android:exported="true"/>

        <activity
            android:name=".Main"
            android:exported="true">

        </activity>
        <activity
            android:name=".petitionboard"
            android:exported="true">

        </activity>
        <activity
            android:name=".petitionboard3"
            android:exported="true">

        </activity>
        <activity
        android:name=".seeanswer3"
        android:exported="true">

        </activity>

        <activity android:name=".our_school_bullentin_board"
            android:exported="true"/>
        <activity android:name=".our_school_bullentin_board3"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~3347511713"/>

</application>

    </manifest>